body {
    background-color: black;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
}

/* Header */

header {
    position: fixed;
    top: 0px;
    background-color: black;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
}

.tea-logo img{
    height: 50px;
    margin-left: 10px;
    
}

ul {
    display: inline-flex;
    justify-content: space-around;
    list-style-type: none;
    width: 500px;
}

a {
    text-decoration: underline;
    color: seashell;
}

/* Mission section */

#mission {
    margin: 40px auto 40px auto;
    height: 700px;
    width: 1200px;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg);
    display: flex;
    text-align: center;
}

.text-title {
    background-color: black;
    width: 100%;
    margin: auto;
}

.text-title h2, .text-title h4 {
    margin: 10px auto;
}

/* Featured Tea section */ 

#featured-tea {
    margin: 0 auto;
    width: 1000px;
}

#featured-tea h2, #featured-tea h4 {
    text-align: center;
    margin: 5px auto;
}

.container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image img{
    width: 300px;
    height: 200px;
    margin: 10px;
}

/* Location Section */ 

#location {
    width: 1200px;
    height: 500px;
    margin: 40px auto auto auto;
    padding-top: 40px;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.text-boxes {
    display: flex;
    max-width: 1050px;
    justify-content: space-between;
    margin: 15px auto auto auto;
}

.location-text-box {
    background-color: black;
    height: 300px;
    width: 300px;
    margin: 0 auto;
    line-height: 50px;
}

/* Footer section */

footer {
    text-align: center;
}

.copyright {
    text-align: left;
}

